       
       
        .caja {
            /* propiedades especiales que se heredan */
            font-size: 20px;
            color: rgb(17, 199, 144);

            outline: 1px solid red;
            width: 100px;
            height: 100px;
            padding: 50px;
            border: 5px solid green;
            margin: 50px;
        }
        /* ejercicio de selectores */
        header > nav > a{
            font-size: 50px;
        }
      
        aside a{
            color: chartreuse;
        }
        h1{ color: blue;
        }

        
        /* compartir propiedad css */

        h2, .texto-centrado{
            text-align: center;
        }

        .texto-grande {
            font-size: 60px;
            color: blueviolet;
        }
    
        #texto-pequeno {
            font-size: 10px;
            color: lawngreen; 
        }

       /*  <!-- estilizar texto --> */
       /* text-aling */
       .alineacion {
        /* alineacion a la izquierda */
        /* text-aling: left; */

        /* alineacion a la izquierda */
        /* text-aling: center;*/

        /* alineacion a la izquierda */
        /* text-aling: justify; */
        text-align: justify;
       }

       .tamaños {
        /* tamaño por defecto */
        /* font-size: 16px */
        font-size: 100px;
       }

       .decoraciones {
        /* subrayado */
        text-decoration: underline;
       }

       .quitar-subrayado {
        text-decoration: unset;
       }

       .transformaciones {
        /* primera letra de cada palabra en mayuscula  */
        /* text-transform:capitalize; */

        /* todo en mayuscula */
        /* text-transform:uppercase; */

        /* todo en minuscula */
        text-transform: lowercase;
       }